html {
  background-image: url("backgroundImage.jpg");
  opacity: 0.5;
  filter: 
    /* hue-rotate(deg), */
    saturate(4);
  text-align: center;
  font-family: Arial;
  height: 100%;
  width: 100%;
  color: #11115f;
}

  img {
    border-radius: 50%;
  }

  /*--------------------------BOXES WITH TEXT--------------------------*/

/*boxes*/

.smallBox {
  background: white;
  position: absolute;
  width: 500px;
  height: 80px;
  top: 20%;
  left: 42%;
  border: 3px solid black;
  margin: -100px 0 0 -100px;
  text-align: center;
}

.bigBox {
  background: white; /*background colour*/
  width: 500px; /*width of the box*/
  height: 300px; /*height of the box*/
  position: absolute; /*when the box moves nothing else is affected*/
  top: 35%; /*position from the top (higher percentage further down)*/
  left: 42%; /*position from the left (higher percentage further right)*/
  border: solid 3px black; /*border size and colour*/
  margin: -100px 0 0 -100px; /*makes the box move with the screen size*/
  
}

  /* ----------------------BUTTONS-----------------------
  
  Learned the button placement style code from: https://www.shecodes.io/athena/4345-position-text-in-top-right-corner-with-css 
  
  Login and signup buttons for ability to create questions*/

  #login {
    right: 80px;
    top: 10px;
    color: white;
    border: black;
    padding: 4px 6px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    background-color: #11115f;
  }
  
  #signup {
    margin: 10px 10px;
    background-color: #11115f;
    border: black;
    color: white;
    padding: 4px 6px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
  }

  /*Play button for ablity to answer the question*/
  #play {
    color: white;
    border: black;
    padding: 20px 60px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    background-color: #11115f;
  }
  
  /*sign up and submit buttons for emails, passwords, and class codes*/
  #teacherSignup {
    position: absolute;
    margin: 250px -70px;
    color: white;
    border: black;
    padding: 4px 6px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    background-color: #11115f;
  }

  #studentSubmit {
    position: absolute;
    margin: 200px -70px;
    color: white;
    border: black;
    padding: 4px 6px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    background-color: #11115f;
  }

  #loginSubmit {
    position: absolute;
    margin: 150px -70px; /*have to use margin instead of right and top to get it to move with the page*/
    color: white;
    border: black;
    padding: 4px 6px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    background-color: #11115f;
  }

/* ----------------------SIGNING IN REQUIRMENTS------------------------*/
  /*centers the username and password requirments for login and signup pages*/
  input[type="text"]{
    position: absolute;
    margin: 100px -100px; padding:0px;
    text-align:left;
    width: 200px;
    float: left;
    margin-bottom: 10px;
  }

  input[type="password"]{
    position: absolute;
    margin: 150px -100px; padding:0px;
    text-align:left;
    width: 200px;
    float: left;
    margin-bottom: 10px;
  }

  input[id="passwordRepeat"]{
    position: absolute;
    margin: 200px -100px; padding:0px;
    text-align:left;
    width: 200px;
    float: left;
    margin-bottom: 10px;
  }

  /*Input for student play page*/
  input[type="name"]{
    position: absolute;
    margin: 100px -100px; padding:0px;
    text-align:left;
    width: 200px;
    float: left;
    margin-bottom: 10px;
  }

  input[id="code"]{
    position: absolute;
    margin: 150px -100px; padding:0px;
    text-align:left;
    width: 200px;
    float: left;
    margin-bottom: 10px;
  }

 

/* ----------------------QUESTIONS PAGE------------------------

  USE THIS FOR THE FORMS

  https://codedamn.com/news/frontend/center-a-form-with-html-css
  
ON QUESTION PAGE: 
<div class="form-container">
  <form>
    <!-- form content -->
  </form>
</div>

ON THIS PAGE
.form-container {
  display: grid;
  place-items: center;
  min-height: 100vh;
}

form {
  width: 50%;
}
*/
